.password-input-container {
    position: relative;
}

.toggle-password-btn {
    position: absolute;
    right: 12px;
    top: 38px;
    height: 48px;

    display: flex;
    align-items: center;

    background: transparent;
    border: none;

    color: #1a73e8;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
}

.toggle-password-btn:hover {
    text-decoration: underline;
}