.create-note {

    width: 100%;

    max-width: 600px;

    margin: 0 auto;

    border-radius: 10px !important;

    box-shadow: 0 2px 8px rgba(60,64,67,.30) !important;

}

.create-note-container {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 10px 16px;

}

.note-input {

    flex: 1;

    font-size: 16px !important;

}

.note-icons {

    display: flex;

    align-items: center;

    gap: 4px;

}