.sidebar .MuiDrawer-paper {

    width: 80px;

    margin-top: 64px;

    overflow-x: hidden;

    border-right: none;

    background: #ffffff;

    transition: width .25s ease;

}

.sidebar .MuiDrawer-paper:hover {

    width: 280px;

}

.sidebar-header {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 60px;

}

.sidebar .MuiList-root {

    padding-top: 8px;

}

.sidebar-item {

    display: flex !important;

    align-items: center;

    height: 48px;

    margin: 4px 12px !important;

    border-radius: 0 24px 24px 0 !important;

    transition: .2s;

}

.sidebar-item:hover {

    background: #f1f3f4 !important;

}

.sidebar-item.Mui-selected {

    background: #FEEFC3 !important;

}

.sidebar-item.Mui-selected:hover {

    background: #FDD663 !important;

}

.sidebar-item .MuiListItemIcon-root {

    min-width: 48px;

    color: #5f6368;

}

.sidebar-item .MuiTypography-root {

    color: #202124;

    font-size: 14px;

    font-weight: 500;

    white-space: nowrap;

}

.sidebar .MuiDrawer-paper:not(:hover) .MuiListItemText-root {

    display: none;

}

.sidebar .MuiDrawer-paper:hover .MuiListItemText-root {

    display: block;

}